body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #142d4c;
    color: white ;
    text-align: center;
    padding: 20px;
    
}

#container {
    flex: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#container p {
    padding-top : 12px;
    font-weight: bold;
    color: green;
    text-align: center;
    height :100 px;

}

.gallery {
    float: left;
    width: 300px;
    padding: 10px;
    margin: 25px;
    border: 1px double #aeccc6; 
    font-family: 'Josefin Sans', sans-serif;
}

.gallery img {
    width: 300px;
    height: 200px;
}

.gallery h4{
    font-weight: bold;
    color : green;
}

#btn1 {
    text-align: center;
    float: right;
}

#btn2 {
    text-align: center;
    float: right;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #142d4c;
    color: white;
}

button {
    background-color: #9fd3c7; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect */
button:hover {
    background-color: #142d4c;
}

.topnav {
    background-color: #9fd3c7; 
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(225, 196, 109);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #aeccc6; 
    color: white;
    font-weight: bold;
    font-size: 15px;
}
