@import 'variables';

/* Header Styles */
.header {
    background-color: $primary-color;
    color: $third-color;
    text-align: center;
  }
  .header nav ul {
    list-style: none;
    padding: 10px 0;
  }
  .header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  .header nav ul li a {
    text-decoration: none;
    color: white;
  }
